<footer class="footer">
  <p>Copyright (C) 2012-2020 <a href="https://metaredux.com">Bozhidar Batsov</a> and <a href="https://cider.mx">CIDER</a> contributors.</p>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: '1f3d78fd63fcb687dcc1312aab02a2de',
  indexName: 'cider',
  inputSelector: '#search-input',
  algoliaOptions: { 'facetFilters': ["version:0.25"] },
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
